node_modules
.env
dist
homebridge-gsh-**.tgz
/homebridge-ui/public/.angular/cache
test/hbConfig/.uix-dashboard.json
test/hbConfig/.uix-secrets
/test/hbConfig/backups
/test/hbConfig/persist
/test/hbConfig/accessories
